.bgplayers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    &__board{
        &--btn{
        padding: 8px 20px;
        // background: linear-gradient(115deg, #BA0 0%, #980 45%, #a90 45%, #FFEE00 100%);
        background-color: $bgyellow;
        border: 2px solid $bgyellow; 
        font-size: 1.1vw ;
        max-width: 250px;
        max-height: 45px;
        color: $bgwhite;
        margin: 30px 0 50px 0;
        border-radius: 2px;
        }
    } img{
        width: 100px;
    }
}



.boardgame{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 0px; 
    border: 3px solid $bgwhite;
    &__tile{
        padding: 10px 5px;
        border: 3px solid $bgwhite;
        &--number{
            font-size: 1.2vw;
            min-height: 100px;
            max-height: 100px;
        } img{
            width: 60px;
            padding: 10px;
            margin-left: 40px;
        }
    }
}



//To be removed 
a{
    text-decoration: none;
    padding: 40px 0 20px 0;
    color: $bgwhite;
    font-size: 1.1vw;
}


.fa-arrow-left{
    font-family: GameOfThrones;
}

//Which player turn inital position at tile 0 

#turnsPlayer1, #turnsPlayer2{
    display: none;
}
#tile0{
    display: none;
}

//Modal styling 

.modal{
    &-content{
        background: linear-gradient(115deg, #BA0 0%, #980 45%, #a90 45%, #FFEE00 100%);
        color: $bgblack;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2vw;
        padding: 20px;
        align-content: center;
    }
    &-header, &-body, &-footer{
        border-bottom: 0px solid $bgyellow;
        border-top: 0px solid $bgyellow;
    }
}

#trapModal .red{
    background: linear-gradient(to left top, #e13d0f, #e1350f, #e12c0e, #e1200f, #e10f0f);  
    font-size: 1.2vw; 
    color: $bgwhite;
}


