.bgplayers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    &__board{
        &--btn{
        padding: 8px 20px;
        background-color: $bgyellow;
        border: 2px solid $bgyellow; 
        font-size: 1.1vw ;
        max-width: 250px;
        max-height: 45px;
        color: $bgblack;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0 50px 0;
        border-radius: 2px;
        }
        &--playerPosition{
            min-width: 50px;
            max-width: 50px;
            border: 2px solid $bgwhite;
            padding: 10px;
            margin: 10px 45% 0;
        }
    } img{
        width: 100px;
        height: 120px;
        margin-top: 10px;
    }
}

.boardgame{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 0px; 
    border: 3px solid $bgwhite;
    &__tile{
        padding: 10px 5px;
        border: 3px solid $bgwhite;
        min-height: 100px;
        max-height: 100px;
        &--number{
            font-size: 1.2vw;
            margin-bottom: -1rem;
        } img{
            width: 30px;
            margin-left: 30px;
        }
    }
}

#tile0{
    display: none;
}

//Modal styling 

.modal{
    &-content{
        background: linear-gradient(115deg, #BA0 0%, #980 45%, #a90 45%, #FFEE00 100%);
        color: $bgblack;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2vw;
        padding: 20px;
        align-content: center;
    }
    &-header, &-body, &-footer{
        border-bottom: 0px solid $bgyellow;
        border-top: 0px solid $bgyellow;
    }
}

#trapModal .red{
    background: $bgblood;  
    font-size: 1.2vw; 
    color: $bgwhite;
}

.boardgame .trapStyle{
    background-color: $bgblood; 
}

