.backgroundWinner{
    background-image: url('images/winners.jpg');
    background-size: cover;
    background-color: $bgblack; 
    background-repeat: no-repeat;
}


.winner{
    margin: 15%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 2vw;
    button:hover{
            cursor: pointer;
            background-color: $bgblood; 
            border: 2px solid $bgblood; 
            color: $bgwhite;
            font-weight: bold;
        }
    &__header{
          
        text-align: center;

        &--btn{
            font-size: 3vw;
            min-width: 500px;

        }
    }
}


