.backgroundWinner{
    background-image: url('images/winners.jpg');
    background-size: cover;
    background-color: $bgblack; 
    background-repeat: no-repeat;
}


.winner{
    margin: 25%;
    padding-bottom: 10px;
    text-align: center;
    &__header{
        text-align: center;
        &--btn{
            font-size: 1.5vw;
        }
    }
}


